// Extra small screens (phones)
$screen-xs: 480px;

// Small screens (tablets)
$screen-sm: 576px;

// Medium screens (desktops)
$screen-md: 768px;

// Large screens (desktops)
$screen-lg: 992px;

// Extra large screens (large desktops)
$screen-xl: 1200px;

// Extra extra large screens (large desktops)
$screen-xxl: 1400px;

$screen-hd: 1920px;

// 2K screens
$screen-2k: 2048px;

// 4K screens
$screen-4k: 3840px;
