.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--font);
    padding: 1rem 2rem;

    background-color: var(--background);
    border: 3px solid transparent;
    border-radius: 50px;
    box-shadow: hsla(0, 0%, 0%, 0.3) 0px 2px 8px;
    max-width: fit-content;

    cursor: pointer;

    &:hover {
        background-color: var(--button);
    }
}
