.card {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--card);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: hsla(0, 0%, 0%, 0.3) 0px 2px 8px;
    text-align: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--font);

        &:hover {
            color: var(--primary);
            transform: scale(1.1);
        }

        h3 {
            margin-top: 0.5rem;
            font-weight: bold;
        }
    }
    img {
        width: 5rem;
        height: 5rem;
    }
}

.about-container {
    align-items: flex-start;
    text-align: left;
    grid-column: 1;
    grid-row: span 2;

    @media screen and (min-width: $screen-sm) {
        grid-column: span 3;
        grid-row: span 2;
    }

    @media screen and (min-width: $screen-md) {
        grid-column: span 3;
        grid-row: span 3;
    }

    .about-name {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    h1 {
        background: -webkit-linear-gradient(
            45deg,
            var(--primary),
            var(--secondary)
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .about-body {
        margin-top: 2rem;
    }

    .btn {
        margin-top: 3rem;
    }
}

.about-me {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}
.picture-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .picture {
        height: 6rem;
        width: 6rem;
        background-image: url(../images/Deea.svg);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: hsla(0, 0%, 0%, 0.15) 0px 2px 8px;
        border-radius: 20rem;
        margin: 0 3rem;

        @media screen and (min-width: $screen-md) {
            height: 8rem;
            width: 8rem;
        }

        @media screen and (min-width: $screen-md) {
            height: 10rem;
            width: 10rem;
        }
        @media screen and (min-width: $screen-lg) {
            height: 14rem;
            width: 14rem;
        }
    }
}

.form-container {
    text-align: left;
}

.project-1 {
    @media screen and (min-width: $screen-md) {
        grid-column: span 3;
        grid-row: span 3;
    }
}

.projects {
    background-size: cover;
    background-position: center;
    background-color: hsla(0, 0%, 1%, 0.6);
    background-blend-mode: multiply;
    opacity: 0.9;

    h3 {
        font-size: 1.5rem;
        background-color: hsl(0, 0%, 100%);
        width: 100%;
        color: black;
        border-radius: 0.5rem;
    }

    &:hover {
        background-color: transparent;
        background-blend-mode: multiply;
        opacity: 1;

        h3 {
            visibility: hidden;
        }
    }
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: hsla(0, 0%, 0%, 0.15) 0px 2px 8px;
    text-align: center;

    h3 {
        margin-bottom: 2rem;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        p {
            margin-bottom: 1rem;

            label {
                display: block;
                margin-bottom: 0.5rem;
                color: var(--font);
            }

            .input {
                width: 500px;
                height: 50px;
                padding: 0.5rem;
                background: linear-gradient(
                            var(--background),
                            var(--background)
                        )
                        padding-box,
                    linear-gradient(45deg, var(--primary), var(--secondary))
                        border-box;
                border: 3px solid transparent;
                border-radius: 1rem;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 2px var(--secondary);
                }
                &.input-message {
                    height: 150px;
                    border-radius: 1rem;
                }
            }
        }
    }

    @media screen and (min-width: $screen-md) {
        grid-column: span 3;
        grid-row: span 3;
    }
}
.weather-widget > * {
    font-weight: bold;
}
