.card {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--card);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: hsla(0, 0%, 0%, 0.15) 0px 2px 8px;
  text-align: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--font);

    &:hover {
      color: var(--orange);
    }

    h3 {
      margin-top: 0.5rem;
    }
  }

  img {
    width: 5rem;
    height: 5rem;
  }
}

#about {
  align-items: flex-start;
  text-align: left;

  .about-name {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .about-body {
    margin-top: 2rem;
  }

  .btn {
    margin-top: 3rem;
  }
}

.about-me {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

#picture-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .picture {
    height: 14rem;
    width: 14rem;
    background-image: url(../images/Deea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: hsla(0, 0%, 0%, 0.15) 0px 2px 8px;
    border-radius: 20rem;
    margin: 0 3rem;
  }
}

#linkedin-container {
  background-color: var(--linkedin);

  h3 {
    color: var(--white);

    &:hover {
      color: var(--orange);
    }
  }
}

#github-container {
  background-color: var(--github);

  &:hover {
    filter: brightness(120%);
    cursor: pointer;
    transition: 500ms;
  }

  h3 {
    color: var(--white);

    &:hover {
      color: var(--orange);
    }
  }
}

#leetcode-container {
  &:hover {
    filter: brightness(120%);
    cursor: pointer;
    transition: 500ms;
  }
}

#learning-path {
  flex-direction: column;
  align-items: center;
  text-align: left;

  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: 300;
    font-size: 1rem;
  }

  span {
    font-style: italic;
  }
}

#javascript-container {
  background-color: var(--javascript);

  h3 {
    color: var(--black);
  }
}

#node-container {
  background-color: var(--white);

  h3 {
    color: var(--black);
  }
}

#form-container {
  text-align: left;
}

#heroes-arena {
  background-image: url(../images/Heroes-Arena.png);
}

#weather {
  background-image: url(../images/weather.png);
}

.projects {
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 1%, 0.6);
  background-blend-mode: multiply;
  opacity: 0.9;

  h3 {
    font-size: 2rem;
    font-weight: bolder;
    background-color:hsl(0, 0%, 100%);
    width:100%;
    color: black;
    border-radius: 0.5rem;
  }

  &:hover {
    background-color: transparent;
    background-blend-mode: multiply;
    opacity: 1;

    h3 {
      visibility: hidden;
    }
  }
}
