.card {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--card);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: hsla(0, 0%, 0%, 0.4) 0px 2px 8px;
    text-align: center;

    @media screen and (min-width: $screen-4k) {
        font-size: 3rem;
    }

    img {
        width: 5rem;
        height: 5rem;
    }
}

.github-container,
.linkedin-container {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--font);

        &:hover {
            color: var(--primary);
            transform: scale(1.1);
        }

        h3 {
            margin-top: 0.5rem;
            font-weight: bold;
        }
    }
}

.about-container {
    align-items: flex-start;
    text-align: left;
    grid-column: 1;
    grid-row: span 2;

    @media screen and (min-width: $screen-sm) {
        grid-column: span 3;
        grid-row: span 2;
    }

    @media screen and (min-width: $screen-md) {
        grid-column: span 3;
        grid-row: span 3;
    }

    .about-name {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    h1 {
        background: -webkit-linear-gradient(
            45deg,
            var(--primary),
            var(--secondary)
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .about-body {
        margin-top: 2rem;
    }

    .btn {
        margin-top: 3rem;
        &:hover {
            transform: scale(1);
            color: var(--font);
        }
    }
}

.about-me {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}
.picture-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .picture {
        height: 6rem;
        width: 6rem;
        background-image: url(../images/Deea.svg);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: hsla(0, 0%, 0%, 0.15) 0px 2px 8px;
        border-radius: 20rem;
        margin: 0 3rem;

        @media screen and (min-width: $screen-md) {
            height: 8rem;
            width: 8rem;
        }

        @media screen and (min-width: $screen-md) {
            height: 10rem;
            width: 10rem;
        }
        @media screen and (min-width: $screen-lg) {
            height: 14rem;
            width: 14rem;
        }
    }
}

.form-container {
    text-align: left;
}

.subtitle {
    grid-column: 1 / -1;
    text-align: center;
    background: none;
    border: none;
    box-shadow: none;
}

.projects {
    &.show {
        display: grid;
    }
    position: relative;
    color: var(--card);
    transition: filter 0.3s ease-in;
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0);
        transition: background 0.3s ease-in;
        z-index: 1;
        border-radius: 1rem;
    }

    .btn-container {
        visibility: hidden;
        z-index: 2;
    }

    h3 {
        color: white;
        font-size: 2.5rem;
        font-weight: 700;
        visibility: hidden;
        z-index: 2;
    }

    &:hover {
        &::before {
            background: rgba(0, 0, 0, 0.7);
        }

        .btn-container {
            visibility: visible;
        }

        h3 {
            visibility: visible;
        }
    }

    @media screen and (min-width: $screen-md) {
        grid-row: span 2;
        grid-column: span 2;
    }
}

.project-1 {
    background-image: url(/assets/images/Gadgeteen.png);
}

.project-2 {
    background-image: url(/assets/images/prismatic-pay.png);
}
.project-3 {
    background-image: url(/assets/images/weather-app.png);
}
.project-4 {
    background-image: url(/assets/images/tutoro.png);
}
.project-5 {
    background-image: url(/assets/images/rock-paper-scissors.png);
}
.project-6 {
    background-image: url(/assets/images/heroes-arena.png);
}

.weather-widget > * {
    font-weight: bold;
}
