:root {
    --background: #e8e8e8;
    --card: hsl(0, 0%, 100%);
    --font: #3d3d3d;
    --nav: hsl(0, 0%, 88%);
    --light: hsl(0, 0%, 80%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --primary: #ad85ff;
    --secondary: #07bdb7;
    --path: #484157;
    --fill: #e2d4ff;
    --planet-dark: #7b67d1;
    --planet-light: #ad85ff;
    --stars: hsl(0, 0%, 100%);
}
