:root {
    --background: hsl(0, 0%, 91%);
    --card: hsl(0, 0%, 100%);
    --font: hsl(0, 0%, 24%);
    --nav: hsl(0, 0%, 88%);
    --light: hsl(0, 0%, 80%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --purple: hsl(248, 53%, 58%);
    --orange: hsl(16, 100%, 66%);
    --linkedin: hsl(220, 61%, 50%);
    --github: hsl(210, 12%, 19%);
    --javascript: hsl(53, 93%, 54%);
}
