:root {
    --background: #e8e8e8;
    --card: hsl(0, 0%, 100%);
    --font: #3d3d3d;
    --nav: hsl(0, 0%, 88%);
    --light: hsl(0, 0%, 80%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --primary: #ad85ff;
    --secondary: #07bdb7;
    --linkedin: hsl(220, 61%, 50%);
    --github: hsl(210, 12%, 19%);
    --javascript: #f7dd1d;
}
