footer {
    color: var(--font);
    background-color: var(--card);
    margin-top: 15rem;
    padding: 5rem 0 3rem;

    @media screen and (min-width: $screen-xl) {
        padding: 5rem 0 3rem;
    }

    .footer-container {
        display: grid;

        justify-content: space-between;
        justify-items: center;
        align-items: center;
        gap: 2rem;

        @media screen and (min-width: $screen-md) {
            grid-template-columns: repeat(3, 1fr);
            margin: 0 10rem;
        }

        .footer-contact {
            display: grid;
            justify-items: center;
            align-items: center;
            gap: 1rem;
            margin-bottom: 3rem;

            @media screen and (min-width: $screen-sm) {
                grid-template-columns: repeat(2, 1fr);
            }

            h2 {
                font-size: 3rem;
                @media screen and (min-width: $screen-sm) {
                    grid-column: span 2;
                }
            }
            h4 {
                color: var(--primary);
            }
        }

        .social {
            a {
                margin-left: 20px;

                &:first-child {
                    margin-left: 0;
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .legal {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 20px;

            a {
                color: var(--font);
                font-size: 14px;
                text-decoration: none;
                margin: 0 2rem;

                &:hover {
                    color: var(--primary);
                }
            }
        }
    }

    .copyright {
        p {
            margin: 0;
            font-size: 14px;
            text-align: center;
        }
    }
}
