footer {
    color: var(--font);
    padding: 5rem 0 3rem;
    background-color: var(--card);
    margin-top: 15rem;

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin: 0 10rem;

        .footer-contact {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            gap: 1rem;
            margin-bottom: 3rem;

            h2 {
                grid-column: span 2;
                font-size: 3rem;
            }
            h4 {
                color: var(--primary);
            }
        }

        .social {
            a {
                margin-left: 20px;

                &:first-child {
                    margin-left: 0;
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .legal {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 20px;

            a {
                color: var(--font);
                font-size: 14px;
                text-decoration: none;
                margin: 0 2rem;

                &:hover {
                    color: var(--primary);
                }
            }
        }
    }

    .copyright {
        p {
            margin: 0;
            font-size: 14px;
            text-align: center;
        }
    }
}
