.learning-path {
    @media screen and (min-width: $screen-lg) {
        grid-column: span 2;
        grid-row: span 2;
    }

    @media screen and (min-width: $screen-xxl) {
        grid-column: span 4;
        grid-row: span 3;
    }

    #months {
        .month {
            &:hover {
                fill: var(--primary);
                cursor: pointer;
            }
        }
        #jun {
            fill: #9067e2;
            &:hover {
                fill: var(--primary-darker);
                cursor: pointer;
            }
        }
        #jul,
        #aug,
        #sep {
            fill: var(--primary-darker);
        }
    }
}
