.learning-path {
    @media screen and (min-width: $screen-lg) {
        grid-column: span 2;
        grid-row: span 2;
    }

    @media screen and (min-width: $screen-xxl) {
        grid-column: span 4;
        grid-row: span 3;
    }

    #months {
        .month {
            stroke-dasharray: 1000;
            stroke-dashoffset: 0;
            transition: stroke-dashoffset 2s ease-in-out;

            &:hover {
                stroke-dashoffset: 1000;
                fill: var(--primary);
                cursor: pointer;
            }
        }
    }
}
