.learning-path {
    .title {
        font-weight: 700;
    }

    #months {
        text {
            pointer-events: none;
        }
        .month {
            &:hover,
            &:focus,
            &:active {
                fill: var(--planet-light);
                cursor: pointer;
            }
        }
    }

    #stars {
        .star {
            animation: fall 2s ease-in-out forwards;
        }
    }

    @keyframes fall {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @media screen and (min-width: $screen-sm) {
        grid-column: span 2;
        grid-row: span 2;
    }

    @media screen and (min-width: $screen-xxl) {
        grid-column: span 3;
        grid-row: span 3;
    }
}
