#modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#modal-content {
    background-color: var(--card);
    margin: 15% auto;
    gap: 2rem;
    width: 400px;
    height: 400px;
}

#modal-text {
    text-align: left;
}

.contact-modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.contact-content {
    background-color: var(--card);
    margin: 15% auto;
    gap: 2rem;
    padding: 2rem;
    width: 80%;
    max-width: 800px;
}

.btn-container {
    display: flex;
}
