@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'),
        url('/assets/fonts/Raleway-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Calligraphy';
    font-style: normal;
    font-weight: 400;
    src: local('Calligraphy'),
        url('/assets/fonts/EverythingCalligraphy.woff2') format('woff2');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
