:root {
    --background: hsl(0, 0%, 32%);
    --card: hsl(0, 0%, 24%);
    --font: #d1d3d4;
    --slider: hsl(0, 0%, 41%);
    --button: hsl(0, 0%, 17%);
    --fill: #c1f9e7;
    --planet-dark: #08807c;
    --planet-light: #07bdb7;
    --stars: #f9ffa6;
}
