:root {
    --background: hsl(0, 0%, 32%);
    --card: hsl(0, 0%, 24%);
    --font: #d1d3d4;
    --slider: hsl(0, 0%, 41%);
    --button: hsl(0, 0%, 17%);
    --fill: #d4fff1;
    --planet-dark: #77aca2;
    --planet-light: #a8ffe4;
    --stars: #efff95;
}
