@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Regular.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 6rem;
}

nav {
  background-color: var(--nav);
  border-radius: 1.5rem;
  box-shadow: hsla(0, 0%, 0%, 0.15) 0px 2px 8px;
}
nav ul {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
nav ul li {
  color: var(--font);
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  transition: 250ms ease-in;
  margin: 0 0.2rem;
}
nav ul li:hover, nav ul li:focus {
  background-color: var(--card);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  transition: 250ms ease-in;
  cursor: pointer;
  margin: 0 0.2rem;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--font);
  padding: 1rem 2rem;
  background: linear-gradient(var(--background), var(--background)) padding-box, linear-gradient(45deg, var(--purple), var(--orange)) border-box;
  border: 3px solid transparent;
  border-radius: 50px;
  box-shadow: hsla(0, 0%, 0%, 0.15) 0px 2px 8px;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(var(--card), var(--card)) padding-box, linear-gradient(45deg, var(--purple), var(--orange)) border-box;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-col-span-3 {
  grid-column: span 3;
}

.grid-col-span-4 {
  grid-column: span 4;
}

.grid-col-span-5 {
  grid-column: span 5;
}

.grid-col-span-6 {
  grid-column: span 6;
}

.grid-col-span-7 {
  grid-column: span 7;
}

.grid-col-span-8 {
  grid-column: span 8;
}

.grid-row-span-2 {
  grid-row: span 2;
}

.grid-row-span-3 {
  grid-row: span 3;
}

.grid-row-span-4 {
  grid-row: span 4;
}

.grid-row-span-5 {
  grid-row: span 5;
}

.grid-row-span-6 {
  grid-row: span 6;
}

.grid-row-span-7 {
  grid-row: span 7;
}

.grid-row-span-8 {
  grid-row: span 8;
}

.theme-switch {
  display: inline-block;
  height: 2.5rem;
  position: relative;
  width: 4.5rem;
}
.theme-switch input {
  display: none;
}
.theme-switch .slider {
  background-color: hsl(0, 0%, 80%);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 34px;
  cursor: pointer;
  position: absolute;
  transition: 0.4s;
  box-shadow: hsla(0, 0%, 0%, 0.15) 0px 2px 8px;
}
.theme-switch .slider:before {
  background-color: hsl(0, 0%, 100%);
  left: 0.4rem;
  top: 0.25rem;
  content: "";
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  transition: 0.4s;
  width: 2rem;
  box-shadow: hsla(0, 0%, 0%, 0.15) 0px 2px 8px;
}
.theme-switch input:checked + .slider {
  background-color: hsl(0, 0%, 24%);
}
.theme-switch input:checked + .slider:before {
  transform: translateX(26px);
}

.card {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--card);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: hsla(0, 0%, 0%, 0.15) 0px 2px 8px;
  transition: 500ms;
  text-align: center;
}
.card a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--font);
}
.card a:hover {
  color: var(--orange);
}
.card a h3 {
  margin-top: 0.5rem;
}
.card img {
  width: 5rem;
  height: 5rem;
}

#about {
  align-items: flex-start;
  text-align: left;
}
#about .about-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
#about .about-body {
  margin-top: 2rem;
}
#about .btn {
  margin-top: 3rem;
}

.about-me {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

#picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#picture-container .picture {
  height: 14rem;
  width: 14rem;
  background-image: url(../images/Deea.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: hsla(0, 0%, 0%, 0.15) 0px 2px 8px;
  border-radius: 20rem;
  margin: 0 3rem;
}

#linkedin-container {
  background-color: var(--linkedin);
}
#linkedin-container h3 {
  color: var(--white);
}
#linkedin-container h3:hover {
  color: var(--orange);
}

#github-container {
  background-color: var(--github);
}
#github-container:hover {
  filter: brightness(120%);
  cursor: pointer;
  transition: 500ms;
}
#github-container h3 {
  color: var(--white);
}
#github-container h3:hover {
  color: var(--orange);
}

#leetcode-container:hover {
  filter: brightness(120%);
  cursor: pointer;
  transition: 500ms;
}

#learning-path {
  flex-direction: column;
  align-items: center;
  text-align: left;
}
#learning-path h2 {
  margin-bottom: 1rem;
}
#learning-path h3 {
  font-weight: 300;
  font-size: 1rem;
}
#learning-path span {
  font-style: italic;
}

#javascript-container {
  background-color: var(--javascript);
}
#javascript-container h3 {
  color: var(--black);
}

#node-container {
  background-color: var(--white);
}
#node-container h3 {
  color: var(--black);
}

#form-container {
  text-align: left;
}

:root {
  --background: hsl(0, 0%, 91%);
  --card: hsl(0, 0%, 100%);
  --font: hsl(0, 0%, 24%);
  --nav: hsl(0, 0%, 88%);
  --light: hsl(0, 0%, 80%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --purple: hsl(248, 53%, 58%);
  --orange: hsl(16, 100%, 66%);
  --linkedin: hsl(220, 61%, 50%);
  --github: hsl(210, 12%, 19%);
  --javascript: hsl(53, 93%, 54%);
}

body {
  margin: 3rem 10rem;
  background-color: var(--background);
  color: var(--font);
}

.main-content {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(8, 1fr);
}

h1 {
  background: -webkit-linear-gradient(45deg, var(--purple), var(--orange));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
  background-color: var(--card);
}

.show {
  display: flex;
}/*# sourceMappingURL=style.css.map */