@import 'reset';
@import 'colors';
@import 'breakpoints';
@import 'nav';
@import 'button';
@import 'theme';
@import 'cards';

body {
    margin: 3rem 10rem;
    background-color: var(--background);
    color: var(--font);
    transition: all 0.3s ease-in;
}

.main-content {
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: 1fr;

    @media screen and (min-width: $screen-sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $screen-md) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: $screen-xl) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (min-width: $screen-xxl) {
        grid-template-columns: repeat(8, 1fr);
    }
}

.active {
    background-color: var(--card);
}

.show {
    display: flex;
}
