@import 'reset';
@import 'colors';
@import 'breakpoints';
@import 'nav';
@import 'button';
@import 'theme';
@import 'cards';
@import 'learningPath';
@import 'modal';
@import 'footer';

body {
    background-color: var(--background);
    color: var(--font);
    transition: all 0.3s ease-in;
}

.container {
    @media screen and (min-width: $screen-xl) {
        margin: 3rem 10rem;
    }
}

.main-content {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    min-height: 50vh;

    @media screen and (min-width: $screen-hd) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.subtitle {
    grid-column: 1 / -1;
    text-align: center;
}

.active {
    background-color: var(--card);
}

.show {
    display: flex;
}
